<div x-data="dropdown" x-init="$nextTick(()=>initValues({{ array }}))" >
    <div class="relative"  >
        <button type="button" @click="toggle"  class="bg-white rounded ring-inset ring-gray-300 ring-1 w-full">
            bouton
        </button>
        <ul  x-show="open" x-ref="ulSelected"
            class="absolute bg-white rounded ring-inset ring-gray-300 ring-1 w-full overflow-auto max-h-60 ">
            <input type="text"  x-model="textValue"  >
            <template x-for="(value,index) in getKeyDown" :key="index">
                <li  class="cursor-default hover:bg-blue-300">
                    <button>
                        <span><span x-text="value"></span></span>
                    </button>
                </li>
            </template>
        </ul>
    </div>
</div>

