{# templates/login/index.html.twig #}
{% extends 'base.html.twig' %}



{% block body %}
        {% if error %}
            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

    <div class="flex min-h-full h-screen flex-col bg-white  justify-center px-6 py-12 lg:px-8">
        <div class="sm:mx-auto sm:w-full sm:max-w-sm">
            <img class="mx-auto h-10 w-auto" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600"
                 alt="Your Company">
            <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-hoveredtext">Connexion</h2>
        </div>

        <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
            <form class="space-y-6" action="{{ path('app_login') }}" method="post">
                <div>
                    <label for="username" class="block text-sm font-medium leading-6 text-hoveredtext">Email address</label>
                    <div class="mt-2">
                        <input id="username" name="_username" type="email" autocomplete="username" required
                               class="input-crud-form">
                    </div>
                </div>

                <div>
                    <div class="flex items-center justify-between">
                        <label for="password" class="block text-sm font-medium leading-6 text-hoveredtext">Password</label>
                    </div>
                    <div class="mt-2">
                        <input id="password" name="_password" type="password" autocomplete="current-password" required
                               class="input-crud-form">
                    </div>
                </div>

                <div>
                    <button type="submit"
                            class="primary-button update-button w-full">
                        Login
                    </button>
                </div>
            </form>

        </div>
    </div>
{% endblock %}
